* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
}
.container {
  width: 1000px;
  width: 1000px;
  margin: 0 auto;
}

.clear {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia;
}

p,
a {
  font-family: Verdana;
  font-size: 12px;
}
.headersection {
}
.headerleft {
}
.headerleft h2 {
}
.headerleft p {
}

.headerright {
}
.headerright input [type="text"] {
}
.headerright input [type="submit"] {
}

.menusection {
}
.menuleft {
}
.menuleft ul {
}
.menuleft ul li {
}
.menuleft ul li a {
}
.menuleft ul li a:hover {
}

.menuright {
}
.menuright p {
}

.bannersection {
}
.bannerleft {
}
.bannerleft h2 {
}
.bannerleft p {
}

.bannerlink {
}
.banlink {
}

.banlink a {
}
.banlink a:hover {
}

.bannerright {
}
.bannerright img {
}

.servicesection {
}

.service {
}
.service h3 {
}
.service h4 {
}
.service p {
}

.readmore {
}
.readmore a {
}
.readmore a:hover {
}

.postsection {
}

.post {
}
.leftpost {
}
.samepost {
}
.samepost h3 {
}
.samepost img {
}
.samepost h6 {
}
.samepost p {
}

.rightpost {
}
.rightpost h3 {
}
.rightpost img {
}
.rightpost h6 {
}
.rightpost p {
}

.footersection {
}
.footertop {
}
.footercontent {
}
.footercontent h3 {
}
.footercontent p {
}

.footercontent input[type="text"] {
}
.footercontent input[type="submit"] {
}
.footercontent p {
}
.footercontent p a {
}
.footercontent p a:hover {
}

.footercontent ul {
}
.footercontent ul li {
}
.footercontent ul li a {
}
.footercontent ul li a:hover {
}

.footerbottom {
}
.fooleft {
}
.fooleft p {
}

.footright {
}
.footright p {
}
