* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  line-height: 19px;
}
.container {
  width: 1000px;
  width: 1000px;
  margin: 0 auto;
}

.clear {
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia;
}

p,
a,
input {
  font-family: Verdana;
  font-size: 12px;
}
.headersection {
  background: #eaf2f4;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 5px solid #666;
}
.headerleft {
  float: left;
}
.headerleft h2 {
  float: left;
  margin-top: 20px;
  margin-bottom: 15px;
  padding-right: 40px;
  border-right: 1px solid #666;
  font-weight: normal;
  color: #4d4e49;
}
.headerleft h6 {
  float: left;
  font-weight: normal;
  font-size: 16px;
  padding: 24px 15px;
  color: #666;
}

.headerright {
  float: right;
  padding: 20px;
}
.headerright input[type="text"] {
  width: 233px;
  height: 20px;
  border: 1px solid #a1bcc2;
  padding-left: 5px;
  background: #d5e5e8;
  color: #666;
  outline: none;
  margin-top: 2px;
}
.headerright input[type="submit"] {
  width: 36px;
  height: 22px;
  border: 1px solid #a1bcc2;
  background: #d5e5e8;
  color: #666;
  cursor: pointer;
}

.headerright input[type="submit"]:hover {
  background: #666;
  color: #fff;
}
.menusection {
  height: 43px;
  background: #eaf2f4;
  border-top: 1px solid #666;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #116fa6;
}
.menuleft {
}
.menuleft ul {
}
.menuleft ul li {
  float: left;
  padding: 5px 12px 12px 12px;
  border-right: 1px solid #666;
  margin-top: 3px;
}
.menuleft ul li a {
  color: #666;
  font-size: 16px;
  font-family: Georgia;
}
.menuleft ul li a:hover {
  color: #049bac;
}

.menuright {
  float: right;
  margin-top: 6px;
  color: #666;
}
.menuright p {
}

.bannersection {
  background: #049bac;
  color: #fff;
  height: 330px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 2px solid #116fa6;
}
.bannerleft {
  width: 460px;
  float: left;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 33px;
}
.bannerleft h2 {
  font-size: 36px;
  border-bottom: 1px solid #82cdd6;
  line-height: 40px;
  padding-bottom: 10px;
}
.bannerleft p {
  line-height: 19.2px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.bannerlink {
}
.banlink {
  width: 190px;
  float: left;
  background: #fff;
  margin-right: 60px;
  padding: 10px 5px;
}

.banlink a {
  padding-left: 20px;
  color: #333;
  font-family: Georgia;
  font-size: 22px;
}
.banlink a:hover {
  color: #049bac;
}

.bannerright {
  float: right;
}
.bannerright img {
  margin-top: 45px;
  margin-bottom: 33px;
  background: #fff;
  padding: 9px;
  border: 2px solid #116fa6;
}

.servicesection {
  background: #eaf2f4;
  padding: 30px 20px;
  height: 300px;
}
.servicecontent {
  border-bottom: 2px solid #fff;
  padding-bottom: 64px;
}
.service {
  width: 238px;
  float: left;
  background: #f1f7f7;
  border: 1px solid #cdd8d8;
}
.service h3 {
  font-family: Georgia;
  font-size: 22px;
  font-weight: normal;
  color: #049bac;
  border-bottom: 1px solid #cdd8d8;
  text-transform: uppercase;
  padding: 20px 30px;
}
.serviceinner {
  margin: 20px 10px 0px 10px;
}
.serviceinner h4 {
  border-bottom: 1px solid #475c5f;
  padding-bottom: 5px;
  color: #666;
  font-weight: normal;
  font-size: 22px;
}
.serviceinner p {
  padding-top: 10px;
  line-height: 15.4px;
  color: #666;
}

.readmore {
  float: right;
  margin: 17px 10px;
}
.readmore a {
  color: #333;
  font-weight: bold;
}
.readmore a:hover {
  color: #049bac;
}

.postsection {
  background: #eaf2f4;
  padding: 30px 20px;
}

.post {
}
.leftpost {
  width: 400px;
  float: left;
}
.samepost {
}
.samepost h3 {
  padding-bottom: 10px;
  color: #666;
}
.samepostinner {
  border-top: 1px solid #cdd8d8;
  padding-top: 20px;
}
.samepostinner img {
  float: left;
  background: #fff;
  padding: 5px;
  border: 1px solid #013d61;
  margin-right: 10px;
}
.samepostinner h6 {
  font-family: verdana;
  font-size: 12px;
  padding-bottom: 5px;
  color: #666;
}
.samepostinner p {
  color: #666;
  line-height: 19.2px;
}

.rightpost {
  float: right;
  width: 500px;
}
.rightpost h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid #cdd8d8;
  color: #666;
  margin-bottom: 20px;
}
.rightpost img {
  float: left;
  background: #fff;
  padding: 5px;
  border: 1px solid #013d61;
  margin-right: 10px;
}
.rightpost h6 {
  font-family: verdana;
  font-size: 12px;
  padding-bottom: 5px;
  color: #666;
}
.rightpost p {
  color: #666;
  line-height: 19.2px;
  margin-bottom: 20px;
}

.footersection {
  background: #2c2c2d;
}
.footertop {
}
.footercontent {
  width: 293px;
  float: left;
  padding: 20px 20px;
  color: #fff;
}
.footercontent h3 {
  color: #98989a;
  font-size: 22px;
  border-bottom: 1px solid #98989a;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.footercontent p {
  color: #98989a;
  padding-bottom: 10px;
}

.footercontent input[type="text"] {
  width: 235px;
  height: 25px;
  border: none;
  outline: none;
}
.footercontent input[type="submit"] {
  margin-bottom: 8px;
  padding: 0px 10px;
  border: none;
  font-size: 14px;
  height: 25px;
}
.footercontent p {
}
.footercontent p a {
  color: #049bac;
}
.footercontent p a:hover {
}

.footercontent ul {
}
.footercontent ul li {
  color: #98989a;
  padding-bottom: 8px;
}
.footercontent ul li a {
  color: #049bac;
}
.footercontent ul li a:hover {
}

.footerbottom {
  background: #252526;
  color: #fff;
  padding: 20px 20px;
  border-top: 2px solid #3d3d3d;
}
.fooleft {
  float: left;
}
.fooleft p {
}

.footright {
  float: right;
}
.footright p {
}
